.wrapper {
    --header-height    : 50px;
    --search-box-height: 35px;
    width              : 100%;
    height             : 100vh;
    background         : #fff;
    z-index            : 999;
}

.header {
    position   : fixed;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : var(--header-height);
    background : #fff;
    display    : flex;
    align-items: center;
    padding    : 0px 20px;
    box-shadow : 0 0 7px #000;


    .back-icon {
        padding-right: 10px;
        font-size    : 2rem;
        cursor       : pointer;
    }

    .title {
        font-size  : 2rem;
        font-weight: 400;
    }
}

.search-wrap {
    position        : fixed;
    top             : 50px;
    left            : 0;
    width           : 100%;
    padding         : 10px 20px;
    background-color: #f1f1f1;
    display         : flex;
    justify-content : center;
    align-items     : center;


    .search {
        padding              : 7px 15px;
        width                : 100%;
        border-radius        : 100vh;
        -webkit-border-radius: 100vh;
        -moz-border-radius   : 100vh;
        -ms-border-radius    : 100vh;
        -o-border-radius     : 100vh;
    }
}

.list {
    padding-top: 100px;
    height     : calc(100vh - var(--header-height) - var(--search-box-height));

    .list-title {
        font-size  : 1.4rem;
        font-weight: 600;
        padding    : 10px 20px;
    }

    .item {
        padding      : 15px 20px;
        display      : flex;
        border-bottom: 1px solid #d1d1d1;

        .item-img {
            width : 100px;
            height: 50px;
        }

        .item-name {
            padding-left: 10px;
            font-size   : 1.4rem;
        }
    }


}